<ul id="ref">
    <li><a href="/">Contraindication</a></li>
    <li><a href="/CDSS">Clinical Decision Support</a></li>
    <li><a href="/ui">UI</a></li>
    <li><a href="/dbg_e">Generic Names</a></li>
    <!--<li><a href="/dbt_e">Trade Names</a></li>
    <li><a href="/dbi_e">Interactions</a></li>-->
    <li><a href="/cds">BDS</a></li>
</ul>